*, :after, :before
    -webkit-box-sizing: border-box
    box-sizing: border-box
    font-family: 'Open Sans'

$primary-blue: #0B2F64
$secondary-blue: #48505B
$light-blue: #009AE7
$gray: #CCD0D4

.indent
    padding: 0px 20px

.preview-building
    width: 100%
    height: 153px
    object-fit: cover

.title
    color: $primary-blue
    font-size: 32px
    line-height: 44px
    font-weight: 700
    font-family: Open Sans
    text-transform: uppercase

    .single
        color: $light-blue

.subtitle
    font-weight: 600
    font-family: Open Sans
    font-size: 24px
    line-height: 33px

    color: $primary-blue

.description
    font-size: 16px
    line-height: 22px
    margin-top: 20px
    color: $secondary-blue

.btn
    border: 0px
    outline: 0px
    padding: 20px
    font-size: 14px
    font-weight: 600
    color: #ffffff
    border-radius: 13px
    background: $light-blue
    text-transform: uppercase

.list
    display: grid
    margin-top: 35px
    grid-row-gap: 15px
    grid-template-columns: repeat(2, 1fr)

    .item
        display: flex
        align-items: center
        justify-content: stretch
        &:last-child
            grid-column: 1/3

        .item__icon
            width: 35px
            height: auto
            margin-right: 10px

        .subtitle

        .description
            margin: 0px

.menu
    display: inline

    .menu__item
        list-style: none
        font-size: 16px
        font-weight: 600
        line-height: 35px
        text-transform: uppercase

        color: $secondary-blue

.navigation
    display: none

.link
    color: $secondary-blue
    text-decoration: none


.huge__content, .about-huge
    display: none

.header
    display: flex
    flex-direction: column
    align-items: center

    background-size: cover
    background-position: center
    background-repeat: no-repeat

    .tiny__content
        width: 100%
        display: flex
        flex-direction: column
        align-items: center

        .swiper-container
            width: 100%

            .swiper-wrapper
                width: 100%

                .swiper-slide
                    .trc-preview-building
                        width: 100%
                        height: 400px

                        .trc-building-img
                            width: 100%
                            height: 100%
                            object-fit: contain

    .helmet
        width: 100%
        display: flex
        flex-direction: row
        justify-content: space-between

    .title
        text-align: center

.bid
    margin-top: 45px

    background-size: cover
    background-position: center
    background-repeat: no-repeat

    form
        .title
            margin-bottom: 30px

        .input-box
            position: relative

            input, textarea
                width: 100%
                padding: 15px
                font-size: 18px
                margin: 0 0 8px 0
                font-weight: 600
                color: $primary-blue
                background: #fff
                border-radius: 16px
                box-sizing: border-box
                border: 1px solid #DEE3E3
                &:focus, &:valid
                    outline: none

                    label
                        transform: translateY(-40px)
                        font-size: 14px

            label
                position: absolute
                top: 18px
                left: 25px
                color: $gray
                font-size: 14px
                font-weight: 600
                pointer-events: none
                text-transform: uppercase

.footer
    padding: 50px 20px
    .contact
        margin-top: 20px
        font-size: 14px
        font-weight: 600
        text-transform: uppercase

        .contact__title
            color: $gray

        .contact__text
            color: $secondary-blue


@media screen and (min-width: 768px)
    .list
        grid-template-columns: repeat(3, 1fr)

        .item
            &:last-child
                grid-column: 2/3

    body
        .header
            padding: 0px 0px 110px 0px
            .title
                text-align: center
                max-width: 465px

        .about
            .preview-building
                border-radius: 15px

            .location
                display: flex
                flex-direction: row
                justify-content: space-between

                .description
                    max-width: 320px

        .bid
            display: flex
            flex-direction: column
            align-items: center
            .title
                text-align: center
                max-width: 480px

        .footer
            .footer__bottom
                display: flex
                justify-content: space-between

            .menu
                padding: 0px

            .info
                display: flex
                flex-direction: column

@media screen and (min-width: 1024px)
    .about
        display: none

    .indent
        padding: 0px 100px

    .title
        font-size: 55px

    body
        .header
            display: flex
            flex-direction: column
            justify-content: space-evenly
            height: 100vh

            .tiny__content
                display: none

            .navigation
                display: inline

                .menu
                    display: inline-block

                    .menu__item
                        display: inline-block
                        margin-right: 20px
                        &:last-child
                            margin-right: 0px

            .huge__content
                width: 100%
                display: flex
                flex-direction: row
                align-items: center

                .content
                    max-width: 600px
                    display: flex
                    flex-direction: column
                    align-items: flex-start

                    .title
                        text-align: left

                .swiper-container
                    width: 100%

                    .swiper-wrapper
                        width: 100%

                        .swiper-slide
                            .trc-preview-building
                                width: 100%
                                height: 400px

                                .trc-building-img
                                    width: 100%
                                    height: 100%
                                    object-fit: contain

        .about-huge
            display: flex
            flex-direction: column
            margin: 100px 0px

            .about__content
                display: flex
                flex-direction: row
                justify-content: space-between

                .content
                    display: flex
                    flex-direction: column

                    .description
                        margin-top: 20px

                .location
                    display: flex

                    .description
                        max-width: 320px
                        margin: 0px

            .preview-building
                height: 380px
                margin-top: 50px

            .list
                display: grid
                grid-template-columns: repeat(5, 1fr)

                .item
                    &:last-child
                        grid-column: 5/6

        .bid
            .title
                max-width: 1000px

        .footer
            .footer__bottom
                display: flex
                flex-direction: row
                justify-content: space-around

            .logo
                display: none

            .menu
                text-align: center